mixin statblock(caption, name)
  tr
    td=caption
    td
      app-stat-block([statName]="\'" + name + "\'", [stat]= 'current.stats.' + name, (statChanged)='statChanged($event)')

mixin mainInfo 
  table
    tr
    td Name 
      input(type="text", name='name', [(ngModel)]='current.name', (change)='mainInfoChanged($event)')
    td Player
      input(type="text", name='player', [(ngModel)]='current.player', (change)='mainInfoChanged($event)')

mixin mainVariables
  table
    tr
      td
        table     
          +statblock('ST:', 'st')
          +statblock('DX:', 'dx')
          +statblock('IQ:', 'iq')
          +statblock('HT:', 'ht')
          +statblock('Will:', 'will')
          +statblock('Per:', 'per')
      td
        table     
          +statblock('Lift ST:', 'liftSt')
          +statblock('Strike ST:', 'strikeSt')
          +statblock('BM:', 'basicMove')
          +statblock('BS:', 'basicSpeed')
          +statblock('FP:', 'fp')
          +statblock('HP:', 'hp')

div(*ngIf='current')
  div: +mainInfo
  div: +mainVariables
  .container
    .traits
      app-trait-list([traits]='current.traits', [category]="'Advantage'", (change)='traitChanged()')
      app-trait-list([traits]='current.traits', [category]="'Disadvantage'", (change)='traitChanged()')
    app-skill-list([skills]='current.skills', (change)='skillChanged()')

      
  

